.page-back-header {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	height: 48px;
}

@media (min-width: 520px) {
	.page-back-header {
		width: 480px;
		margin-left: auto;
		margin-right: auto;
	}
}

.page-back-header-back-bg {
	position: absolute;
	width: 32px;
	height: 32px;
	margin: 8px 0px;
	background: linear-gradient(135deg, var(--blue-color) 0%, #355a9b 100%);
	border-radius: 16px;
	cursor: pointer;
	box-shadow: 0px 10px 22px rgba(40, 70, 127, 0.2);
}

.page-back-header-back-bg:hover {
	background: linear-gradient(135deg, var(--blue-hover-color) 0%, #4268b2 100%);
}

.page-back-header-back-icon {
	width: 32px;
	height: 32px;
	line-height: 48px;
}
