<div id="footer-content">
	<span class="footer-brand">Detox@Home remote care manager</span>
	<span class="footer-separator">•</span>
	<span data-i18n="built_on_senseeact"></span>
	<span class="footer-separator">•</span>
	<a href="{{basePath}}/info" data-i18n="platform_info"></a>
</div>
