<div id="header-content">
	<a class="header-brand-link" href="{{basePath}}/">
		<img id="header-logo" src="{{basePath}}/images/detox-at-home-logo-square.png"
				alt="Detox at Home logo" />
		<div class="header-brand-copy">
			<span class="header-brand-name">Detox@Home</span>
			<span class="header-brand-app">remote care manager</span>
		</div>
	</a>
	<div id="header-menu">
		<a href="{{basePath}}/me"><div class="header-icon user"></div></a>
		<div class="header-icon menu"></div>
	</div>
</div>

<script type="text/javascript">
	loadJS('header');
</script>
