<link rel="stylesheet" type="text/css" href="css/pages/home.css"></link>
<div class="home-hero">
	<div class="home-hero-shell">
		<div class="home-brand-card">
			<div class="home-badge">Detox@Home</div>
			<img class="home-logo" src="images/detox-at-home-logo.png"
					alt="Detox at Home logo" />
			<p class="home-kicker">remote care manager</p>
			<p class="home-description" data-i18n="home_subtitle"></p>
			<div class="home-actions">
				<a class="button grow-to-fit" href="{{basePath}}/login" data-i18n="log_in"></a>
				<a class="button secondary grow-to-fit" href="{{basePath}}/info" data-i18n="about"></a>
			</div>
		</div>
		<div class="home-side-panel">
			<div class="home-side-card">
				<h1 data-i18n="home_title"></h1>
				<p data-i18n="home_intro"></p>
			</div>
			<div class="home-side-card accent">
				<h2 data-i18n="home_platform_title"></h2>
				<p data-i18n="home_platform_body"></p>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	loadJS('pages/home');
</script>
